<footer class="revealed">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<h3 data-target="#collapse_1">Quick Links</h3>
					<div class="collapse dont-collapse-sm links" id="collapse_1">
						<ul>
							<li><a href="/">Trang chủ</a></li>
							<li><a href="/product">Sản Phẩm</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<h3 data-target="#collapse_2">Categories</h3>
					<div class="collapse dont-collapse-sm links" id="collapse_2">
						<ul>
						{% for categorie in categories %}
							<li><a href="/product/category/{{ categorie.id }}">{{ categorie.name}}</a></li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
						<h3 data-target="#collapse_3">Contacts</h3>
					<div class="collapse dont-collapse-sm contacts" id="collapse_3">
						<ul>
							<li><i class="ti-home"></i>28 Nguyễn Tri Phương<br>Thừa Thiên Huế</li>
							<li><i class="ti-headphone-alt"></i>+94 423-23-221</li>
							<li><i class="ti-email"></i><a href="javascript:;">sinhnt@gmail.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row-->
		</div>
	</footer>