<div class="top_banner">
	<div class="opacity-mask d-flex align-items-center" data-opacity-mask="rgba(0, 0, 0, 0.3)">
		<div class="container">
			<div class="breadcrumbs">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/product">Product</a></li>
				</ul>
			</div>
			<h1>Shop Thời Trang</h1>
		</div>
	</div>
	<img src="{{ bannerProduct.image }}" class="img-fluid" alt="">
</div>